@{
    ViewBag.Title = "Агрегатор социальных сетей";
}

<div class="container">
    <div class="row" id="search_panel">
        <div class="input-field col s8 m6 offset-s2 offset-m3" id="search">
            <input id="search_input" type="text" class="validate" value="@ViewBag.Query">
            <label class="active" for="search_input">Введите поисковый запрос</label>
            <div class="progress">
                <div id ="progress_bar"></div>
            </div>
            <a class="waves-effect waves-light btn" id="search_button">Поиск</a>&nbsp&nbsp
            <a class="waves-effect waves-light btn  modal-trigger" id="account_button" href="#modal1">Войти</a>
        </div>
    </div>
</div>
<div id="modal1" class="modal" style="overflow:hidden;">
    <div class="modal-content">
        <h4 style="text-align:center;" id="headeruser">Вход</h4>
            <div class="row">
                <form class="col s19 m12 l10" id="myform">
                    <div class="row">
                        <div class="input-field col  offset-s2 offset-m3 offset-l4 s10 m6 l6" >
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Логин</label>
                        </div>
                    </div>
                    <div class="row">
                        <p style="text-align:center;color:red;" class="offset-s14 offset-m14 offset-l14 hide" id="valid_login">Введите логин</p>
                        <br />
                    </div>
                        <div class="row">
                            <div class="input-field col   offset-s2 offset-m3 offset-l4 s10  m6 l6">
                                <i class="material-icons prefix">vpn_key</i>
                                <input id="icon_telephone" type="password" class="validate" required="" aria-required="true">
                                <label for="icon_telephone">Пароль</label>
                            </div>
                        </div>
                    <div class="row">
                        <p style="text-align:center;color:red;" class="offset-s14 offset-m14 offset-l14 hide" id="valid_password">Введите пароль</p>
                        <br />
                    </div>
                    <div class="row">
                        <p style="color:green;text-align:center;" class="hide" id="bdsuccess">Пользователь успешно добавлен</p>
                        <p style="color:red;" class="hide" id="bderror">Ошибка, возможно этот пользователь уже есть в базе данных</p>
                    </div>

</form>
            </div>
        </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn waves-light" style="margin-right:2%">Закрыть</a>
        <a class="waves-effect waves-green btn waves-light" id="autorize" style="margin-right:2%;" >Вход</a>
        <div class="preloader-wrapper small" id="connectdatabase">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 m6 l4" id="col1">
        </div>
        <div class="col s12 m6 l4" id="col2">
        </div>
        <div class="col s12 m12 l4" id="col3">
        </div>
    </div>
</div>
<div class="container center-block">
    <div class="row">
        <div class="col s12 m4 center">

        </div>
        <div class="col s12 m4 center">
            <div class="preloader-wrapper big" id="load_more">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




@section scripts{
    <script type="text/javascript">
        var block = false;
        var result;
        var listresult = [];
        $(function () {

            

            function search() {

                $("#search_panel").animate({
                    "margin-top": 0
                }, 500, function () {

                });

                $("#progress_bar").addClass("indeterminate");

                $.ajax({
                    type: "POST",
                    url: '/Home/Search',
                    data: { query: $("#search_input").val().toString() },
                }).done(function (data) {

                    $("#col1").empty();
                    $("#col2").empty();
                    $("#col3").empty();

                    result = JSON.parse(data);

                    if (result.Posts.length > 0) {
                        block = false;
                        listresult = [];
                        copylists(result.Posts);
                        if(listresult.length>=20)
                            fill(listresult, 20);
                        else {
                            fill(listresult, listresult.length);
                            block = true;
                        }
                    }

                }).always(function () {
                    $("#progress_bar").removeClass();
                });
            }

            if ($("#search_input").val().toString() != "")
                search();

            $('#search_input').keyup(function (e) {
                if (e.keyCode == 13) {
                    search();
                }
            });

            $("#search_button").click(function () {
                search();
            });
       
           
            
            $(window).scroll(function () {
               
                if ($(window).height() + $(window).scrollTop() >= $(document).height() / 1.5 && !block) {
                    block = true;
                    $("#load_more").addClass("active");
                    if (listresult.length <= 20) {
                        fill(listresult, listresult.length);
                        return;
                    }
                    if (listresult != null && listresult.length != 0 && listresult.length - 20 > 20) {
                        fill(listresult, 20);
                        block = false;
                    } else{
                        fill(listresult, 20);
                        $.ajax({
                            type: "POST",
                            url: '/Home/More',
                            data: {
                                query: result.Query,
                                vkPage: result.VKPagination,
                                instPage: result.InstPagination,
                                twPage: result.TwitterPagination
                            },
                        }).done(function (data) {
                            console.log('hello')
                            result = JSON.parse(data);;
                            console.log("hello");
                            copylists(result.Posts);
                            block = false;

                        }).always(function (data) {
                            $("#load_more").removeClass("active");
                            block = false;
                        });
                    }
                }
            });

            
        
        });
     
        $('.modal-trigger').leanModal();
        $('#icon_prefix').keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                $("#icon_telephone").focus();
            }
        });
        $("#autorize").click(function () {
            if($("#icon_prefix").val()!=""){
                $("#valid_login").addClass("hide");
         }else{
                $("#valid_login").removeClass("hide");
            }
            if ($("#icon_telephone").val() != "") {
                $("#valid_password").addClass("hide");
            } else {
                $("#valid_password").removeClass("hide");
            }
            if ($("#icon_prefix").val() == "" || $("#icon_telephone").val() == ""){
                return;
            }
            $('#modal1').closeModal({ dismissible: true });
            $("#account_button").html("Выйти");
            $("#search").append('<br><p style="display:inline-block;margin-right:2%;"><a class="waves-effect waves-light btn" style="font-size:70%;" onClick="regtag()">Зарегистрировать тег</a></p>');
            $("#search").append('<p style="display:inline-block; margin-top:0%;"><a class="waves-effect waves-light btn  modal-trigger" style="font-size:70%;" href="#modal1" onClick="reguser()">Добавить пользователя</a></p>');
            $('.modal-trigger').leanModal();
            $("#account_button").unbind();
        });
        function regtag() {
        
            if ($("#search_input").val() != "") {
                $("#search_panel").animate({
                    "margin-top": 0
                }, 500, function () {

                });
                $("#progress_bar").addClass("indeterminate");
                $.ajax({
                    type: "POST",
                    url: '/Home/RegisterTag',
                    data: { query: $("#search_input").val().toString() },
                }).done(function (data) {

                    $("#col1").empty();
                    $("#col2").empty();
                    $("#col3").empty();

                    result = JSON.parse(data);

                    if (result.Posts.length > 0) {
                        block = false;
                        listresult = [];
                        copylists(result.Posts);
                        console.log(listresult);
                        if (listresult.length >= 20)
                            fill(listresult, 20);
                        else {
                            fill(listresult, listresult.length);
                            block = true;
                        }
                    }
                }).always(function () {
                    $("#progress_bar").removeClass();
                });
            }
        }

        function reguser() {
           
            $("#autorize").unbind();
            $("#autorize").html("Добавить");
            $("#headeruser").html("Добавление пользователя");
            $("#autorize").click(function () {
                if ($("#icon_prefix").val() != "") {
                    $("#valid_login").addClass("hide");
                } else {
                    $("#valid_login").removeClass("hide");
                }
                if ($("#icon_telephone").val() != "") {
                    $("#valid_password").addClass("hide");
                } else {
                    $("#valid_password").removeClass("hide");
                }
                if ($("#icon_prefix").val() == "" || $("#icon_telephone").val() == "") {
                    return;
                }
                $("#bdsuccess").addClass("hide");
                $("#bderrr").addClass("hide");
                $("#load_more").addClass("active");
                $.ajax({
                    type: "POST",
                    url: '/Home/RegisterUser',
                    data: { login: $("#icon_prefix").val().toString(), password: $("#icon_telephone").val().toString() },
                }).done(function (data) {
                    if (data == "success") {
                        
                        $("#load_more").removeClass("active");
                        $("#bdsuccess").removeClass("hide");
                    } else {
                        $("#bderror").removeClass("hide");
                        $("#load_more").removeClass("active");
                    }
                });
            });
            
        }

       function copylists(list) {
           var temp = [];
           for (i = 0; i < list.length; i++) {
               temp[i] = {};
               temp[i].Image = list[i].Image;
               temp[i].AuthorName = list[i].AuthorName;
               temp[i].AuthorAvatar = list[i].AuthorAvatar;
               temp[i].Social = list[i].Social;
               temp[i].Text = list[i].Text;
               temp[i].Date = list[i].Date;
               temp[i].PostLink = list[i].PostLink;
               temp[i].AuthorLink = list[i].AuthorLink;
           }
           listresult = listresult.concat(temp);
           console.log(listresult);
       }

       function fill(list, len) {
           var cols = [$("#col1")];

           if ($("#col2").offset().left > $("#col1").offset().left)
               cols.push($("#col2"));
           if ($("#col3").offset().left > $("#col1").offset().left)
               cols.push($("#col3"));

           var selectedCol = cols[0];

           for (i = 0; i < len; i++) {

               var imageBlock = "";
               if (list[0].Image != "")
                   imageBlock = '<a href="' + list[0].PostLink + '" target="_blank">' + '<div class="card-image">' +
                                   '<img src="' + list[0].Image + '">' +
                               '</div>' + '</a>';
               var footer = "";
               hours = "";
               if (new Date(list[0].Date).toLocaleTimeString().split(':')[0].length == 1) {
                   hours = "0" + new Date(list[0].Date).toLocaleTimeString().split(':')[0];
               } else {
                   hours = new Date(list[0].Date).toLocaleTimeString().split(':')[0];
               }
               if (list[0].AuthorName != "") {
                   if (list[0].Social == "Twitter")

                       footer = '<div class="row valign-wrapper card-action">' + '<a href="' + list[0].PostLink + '" target="_blank">' +
                                       '<div class="col s15 m15 l15">' +
                                           '<img src="' + list[0].AuthorAvatar + '" alt="" class="circle responsive-img">' +
                                       '</div></a>' +
                                       '<div class="col s9 m9 l9 mylink2 " id="' + list[0].PostLink + '" onClick="window.open(this.id)">' +
                                           '<p class="myownlink" id="' + list[0].AuthorLink + '" onClick="window.open(this.id)">' + list[0].AuthorName + '</p>' +
                                           '<p>' + new Date(list[0].Date).toLocaleDateString() + '</p><p> ' + hours + ':' + new Date(list[0].Date).toLocaleTimeString().split(':')[1] + '</p>' +
                                       '</div>' +
                                   '</div>';
                   else if (list[0].Social == "VK")
                       footer = '<div class="row valign-wrapper card-action">' + '<a href="' + list[0].PostLink + '" target="_blank">' +
                                       '<div class="col s12 m12 l12">' +
                                           '<img src="' + list[0].AuthorAvatar + '" alt="" class="circle responsive-img">' +
                                       '</div></a>' +
                                       '<div class="col s9 m9 l9 mylink2 " id="' + list[0].PostLink + '" onClick="window.open(this.id)">' +
                                           '<p class="myownlink" id="' + list[0].AuthorLink + '" onClick="window.open(this.id)">' + list[0].AuthorName + '</p>' +
                                           '<p>' + new Date(list[0].Date).toLocaleDateString() + '</p><p> ' + hours + ':' + new Date(list[0].Date).toLocaleTimeString().split(':')[1] + '</p>' +
                                       '</div>' +
                                   '</div>';
                   else if (list[0].Social == "Instagram")
                       footer = '<div class="row valign-wrapper card-action">' + '<a href="' + list[0].PostLink + '" target="_blank">' +
                                 '<div class="col s11 m11 l11">' +
                                     '<img src="' + list[0].AuthorAvatar + '" alt="" class="circle responsive-img">' +
                                 '</div></a>' +
                                 '<div class="col s9 m9 l9 mylink2 " id="' + list[0].PostLink + '" onClick="window.open(this.id)">' +
                                     '<p class="myownlink" id="' + list[0].AuthorLink + '" onClick="window.open(this.id)">' + list[0].AuthorName + '</p>' +
                                     '<p>' + new Date(list[0].Date).toLocaleDateString() + '</p><p> ' + hours + ':' + new Date(list[0].Date).toLocaleTimeString().split(':')[1] + '</p>' +
                                 '</div>' +
                             '</div>';


               }
               else {
                   footer = '<p>' + new Date(list[0].Date).toLocaleDateString() + '</p><p> ' + hours + ':' + new Date(list[0].Date).toLocaleTimeString().split(':')[1] + '</p>';
               }
               selectedCol.append(
                       '<div class="card" style="cursor:pointer;" id="' + list[0].PostLink + '" onClick="window.open(this.id)">' +
                           imageBlock + '<a href="' + list[0].PostLink + '" target="_blank">' +
                           '<div class="card-content">' +
                               '<div class="row valign-wrapper">' +
                                   '<div class="col s2 m2 l2">' +
                                       '<img src="/Content/' + list[0].Social + '.png" alt="" class="circle responsive-img">' +
                                   '</div>' +
                                   '<div class="col s9 m9 l9">' +
                                       '<p>' + list[0].Social + '</p>' +
                                   '</div>' +
                               '</div>' +
                           '</div>' + '</a>' + '<a href="' + list[0].PostLink + '" target="_blank">' +
                           '<div class="card-content">' +
                               '<p>' + list[0].Text + '<p>' +
                           '</div>' + '</a>' +
                           '<div class="card-content">' +
                               footer +
                           '</div>' +
                       '</div>');

               var minHeight = selectedCol.height()

               cols.forEach(function (item, i, arr) {
                   if (item.height() < minHeight) {
                       selectedCol = item;
                       minHeight = item.height();
                   }
               });
               listresult.splice(0, 1);
           }

       };
      
    </script>
}